* {margin: 0; padding: 0; width: 100%;}

header {
    background-color: #ffde59;
    }

.contenedor{
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    text-align: center;
    justify-content: center;
    }

.tittle {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    }

h1 {font-size: 40px;
    font-weight: 800;
    }

img {
    width: 200px;
    height: 200px;
    margin-left: 20%;
    margin-top: 1%;
    }

h2 {
    font-family: 'Cairo' , sans-serif;
    font-weight: 400;
    color: gray ;
    font-size: 25px;
    text-align: center;
    }

nav {font-family: 'Montserrat' , sans-serif;
    font-weight: 700;
    align-items: center;
    text-align: center;
    margin-top: 2%; ;
    font-size: larger;
    color: black;
    word-spacing: 90px;
    text-decoration: none;
    text-decoration-color: black;
    }

.perfil {
    color: black;
    text-decoration: none;
    text-decoration-color: black;
    font-size: 25px;
    }

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: lighter;
    margin-top: 2%;
}

.contenedor1 {
    width: 35%;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    }

.izquierda {
    margin-bottom: 18%;
    

}    

.contenedor2 {
    width: 35%;
    margin-top: 2%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
    


    }

h3{
    font-size: 30px;
    font-family: 'Cairo', sans-serif;
    font-weight:600 ;
    margin-bottom: 2%;
}

@media (max-width:600px) {
    
    .contenedor{
        align-items:center;
        justify-content: center;
    }

    img {
        width: 140px;
        height: 140px;
        margin-top: 1%;
        justify-items: center;
        margin-left: 2%;
        margin-bottom: 5%;
        }

        h1 {font-size: 30px
        }

    h2 {
        font-size: 20px;
        }
    
    nav {
        word-spacing: 20px;
        font-size: medium;
        }

    .flex-container {
        flex-flow: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        }
    
    .contenedor1{
        width: 75%;
        }
    
    .contenedor2{
        width: 75%;
        text-align: left;
    }
}